.enroll-page {
  min-height: 100vh;
  background: radial-gradient(circle at top, #eef3ff, #e6edff);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.enroll-layout {
  display: flex;
  max-width: 1100px;
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.15);
}

/* LEFT BLUE */
.enroll-info {
  flex: 1;
  background: linear-gradient(135deg, #0d6efd, #003fa3);
  color: #fff;
  padding: 48px 40px;
}

.enroll-info h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 18px;
}

.course-desc {
  font-size: 15px;
  line-height: 1.7;
  opacity: 0.95;
}

.duration-box {
  margin-top: 28px;
  background: rgba(255, 255, 255, 0.15);
  padding: 16px;
  border-radius: 14px;
}

.duration-box span {
  font-size: 13px;
  opacity: 0.9;
}

.duration-box strong {
  display: block;
  font-size: 18px;
  margin-top: 4px;
}

.secure-note {
  margin-top: 32px;
  font-size: 13px;
  opacity: 0.85;
}

/* RIGHT FORM */
.enroll-container {
  flex: 1;
  background: #fff;
  padding: 42px;
}

.enroll-container h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 22px;
}

.form-group {
  margin-bottom: 32px; /* important */
}
.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  font-weight: 600;
}

.form-group input {
  width: 100%;
  padding: 13px;
  border-radius: 12px;
  border: 1.5px solid #d6def6;
  font-size: 15px;
}

.form-group input:focus {
  border-color: #0d6efd;
  outline: none;
  box-shadow: 0 0 0 4px rgba(13, 110, 253, 0.18);
}

.form-group input.error {
  border-color: #dc3545;
}

.field-errorr {
  position: absolute;
  bottom: -18px;   
  left: 4px;
  font-size: 12px;
  color: #dc3545;
  font-weight: 500;
}

.enroll-btn {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  background: linear-gradient(135deg, #0d6efd, #0047c2);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

.enroll-btn:hover {
  box-shadow: 0 14px 32px rgba(13, 110, 253, 0.45);
}

.back-btn {
  margin-top: 14px;
  background: none;
  border: none;
  color: #0d6efd;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .enroll-layout {
    flex-direction: column;
  }
}