.hero {
  width: 100%;
  height: 90vh;
  background-image: url("https://images.unsplash.com/photo-1523050854058-8df90110c9f1
");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 0 20px;
  text-align: center;
  color: white;
}

/* Dark Overlay */
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 90vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.45);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  opacity: 0.9;
  margin-bottom: 25px;
}

.hero button {
  padding: 12px 28px;
  font-size: 16px;
  border: none;
  background: #0d6efd;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background: #084298;
}
