
.navbar {
  background: #181717 !important;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0,0,0,0.07);
  transition: all 0.3s ease;
}

/* Shadow on scroll */
.navbar-scrolled {
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}


.navbar-brand {
  font-size: 1.55rem !important;
  font-weight: 700 !important;
  letter-spacing: -0.5px;
  color: #0d6efd !important;
}


.navbar-nav .nav-link {
  font-size: 1.05rem;
  padding: 6px 14px;
  border-radius: 8px;
  font-weight: 500;
  color: #f9f3f3 !important;
  transition: 0.25s ease;
}


.navbar-nav .nav-link:hover {
  background: rgba(13, 110, 253, 0.12);
  color: #0d6efd !important;
}

.navbar-nav .nav-link.active {
  tr
  color: #0d6efd !important;
  font-weight: 600;
}

/* Mobile collapse menu */
@media (max-width: 992px) {
  .navbar-nav {
    padding-top: 10px;
  }

  .navbar-nav .nav-link {
    padding: 10px 12px;
    border-radius: 6px;
  }
}

/* Hamburger icon size fix */
.navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler-icon {
  width: 25px;
  height: 25px;
}

/* Hover effect for the menu button */
.navbar-toggler:hover {
  opacity: 0.7;
}
/* ========== SEARCH BOX STYLING ========== */

/* SEARCH BOX STYLE */
.custom-search {
  position: relative;
  width: 220px;
}

.custom-search input {
  width: 100%;
  padding: 8px 14px 8px 38px;   /* left padding for icon */
  border-radius: 25px;
  outline: none;
  background: #ffffff;
  font-size: 14px;
}

.custom-search input::placeholder {
  color: #464646;
}

.search-left-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #000;
}

.nav-icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}


@media (max-width: 992px) {
  .search-container {
    width: 100%;
    margin: 12px 0;
  }
}




